spring:
  cloud:
    gateway:
      discovery.locator.enabled: true
      routes:
        - id: user_service_route
          uri: lb://user-service
          predicates:
            - Path=/admin/users/**

        - id: request_service_route
          uri: lb://request-service
          predicates:
            - Path=/users/*/requests/**

        - id: admin_comment_service_route
          uri: lb://comment-service
          predicates:
            - Path=/admin/comments/**

        - id: public_comment_service_route
          uri: lb://comment-service
          predicates:
            - Path=/events/*/comments

        - id: user_comment_service_route
          uri: lb://comment-service
          predicates:
            - Path=/users/*/comments, /users/*/events/*/comments/**

        - id: main_service_route
          uri: lb://main-service
          predicates:
            - Path=/**

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    gateway:
      enabled: true

logging:
  level:
    org.springframework.web: DEBUG
    org.springframework.http: TRACE
    org.slf4j: DEBUG
    ru.practicum: DEBUG